*.o
*.gcda
*.gcno
*.swp
*.log
*.status
*.mo
rmlint
rmlint.sh
rmlint.json
src/config.h
docs/rmlint.1.gz
docs/rmlint.1

# Scons
.scons*
.sconf*
.rope*
*.pyc
/.prefix.txt

docs/_build
__pycache__

lib/config.h
lib/formats/py.c
lib/formats/sh.c
uninstall-
*.a

/rmlint.*.sh
/rmlint.*.json
/.rmlint.json

/rmlint-*.tar.gz

# JetBrains' IDE
.idea
