# rmlint-generated outputs
rmlint.sh
rmlint.json
/rmlint.*.sh
/rmlint.*.json
/.rmlint.json

# release tarball
/rmlint-*.tar.gz

# rmlint build artifacts
/.prefix.txt
lib/config.h
lib/formats/*.c.inc
uninstall-

# object files
/rmlint
/librmlint.a
*.o

# gcov
*.gcda
*.gcno

# misc
*.swp
*.log
*.status

# compiled translations
/po/*.mo

# Scons
.scons*
.sconf*

# Python
.venv/
.rope*
*.pyc
__pycache__

# Docs
/docs/_build

# generated clang tooling
/compile_flags.txt
/.clang_complete
/compile_commands.json

# JetBrains' IDE
.idea
