*.o
*.swp
*.log
*.status
*.mo
rmlint
rmlint.sh
src/config.h
docs/rmlint.1.gz
docs/rmlint.1

# Scons
.scons*
.sconf*
.rope*

docs/_build
__pycache__

lib/formats/py.c
lib/formats/py.c
test_*
uninstall-
