Source: rmlint
Section: utils
Priority: extra
Maintainer: Christopher Pahl <sahib@online.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/sahib/rmlint
Vcs-Git: git://github.com/sahib/rmlint.git
Vcs-Browser: https://github.com/sahib/rmlint

Package: rmlint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to remove duplicates and other lint.
 rmlint is a commandline tool to clean your filesystem from various sort of lint (unused files, twins, etc.).
