[Desktop Entry]
Type=Application
Name=Shredder
Name[bg]=Шредер
Name[ru]=Шредер
Name[uk]=Шредер
GenericName=Duplicate Finder
Comment=Find and delete duplicates
TryExec=shredder
Exec=rmlint --gui
Icon=shredder
Categories=Utility;FileTools;
Keywords=remove;duplicate;files;filesystem;lint;
