Source: rmlint
Section: utils
Priority: optional
Maintainer: Nobody Yet <package-maintainer@example.org>
Build-Depends: debhelper (>=9),
               python3-sphinx,
               scons
Standards-Version: 3.9.8
Homepage: http://rmlint.rtfd.org/
Vcs-Git: https://github.com/sahib/rmlint.git
Vcs-Browser: https://github.com/sahib/rmlint

Package: rmlint
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Extremely fast tool to remove file duplicates and other filesystem lint
 rmlint finds space waste and other broken things on your filesystem
 and offers to remove it.
 .
 It finds…
  * Duplicate Files and duplicate directories.
  * Nonstripped binaries (i.e. binaries with debug symbols)
  * Broken symbolic links.
  * Empty files and directories.
  * Files with broken user or/and group ID.
 .
 Differences to other duplicate finders:
  * Extremely fast (no exaggeration, we promise!).
  * Paranoia mode for those who do not trust hashsums.
  * Many output formats.
  * No interactivity.
  * Search for files only newer than a certain mtime.
